<?xml version="1.0"?>
<model>
  <name>3DR Iris vision-inerial(vi) modules</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_dual_gps.sdf</sdf>

  <author>
   <name>Yanran Wang</name>
   <email>yanran.wang20@imperial.ac.uk</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with vi-sensor modules (depth camera + stereo_camera).
  </description>
</model>
